/* setting the main colors for white theme */
:root {
    --cl-bg: hsl(0, 0%, 98%);
    --cl-elements: hsl(0, 0%, 100%);
    --cl-text: hsl(200, 15%, 8%);
    --cl-input: hsl(0, 0%, 52%);
    --cl-shadow: #00000026;
}

/* setting the main colors for dark theme */
:root:has(.dark-theme) {
    --cl-bg: hsl(207, 26%, 17%);
    --cl-elements: hsl(209, 23%, 22%);
    --cl-text: hsl(0, 0%, 100%);
    --cl-input: hsl(0, 0%, 100%);
    --cl-shadow: hsl(200, 15%, 8%);
}

/* start styling the body */
body {
    color: var(--cl-text) !important;
    background-color: var(--cl-bg) !important;
}

/* end styling the body */
/* start styling the header */
header {
    background-color: var(--cl-elements) !important;
    box-shadow: 0px 0px 7px 1px var(--cl-shadow);

    & h1 {
        font-size: clamp(1em, 5vw, 2em) !important;
    }

    & button {
        background-color: inherit;
        color: inherit;
        border: none;
        padding: 0 !important;
        font-size: clamp(1em, 5vw, 1.7em) !important;
    }
}

/* end styling the header */
/* start styling the main info */
.main-info {
    background-color: var(--cl-bg) !important;
}

/* start styling the top bar */
.search {
    background-color: var(--cl-elements) !important;
    box-shadow: 0 0 11px 1px var(--cl-shadow);
    width: clamp(20rem, 40vw, 40rem);

    & input {
        border: none;
        background-color: inherit;
        color: inherit;

        &::placeholder {
            color: inherit;
        }

        &:focus {
            outline: none;
        }
    }

    & svg {
        color: var(--cl-input) !important;
    }
}

.dropdown {
    width: clamp(15rem, 30vw, 17rem);


    &>button {
        box-shadow: 0 0 11px 1px var(--cl-shadow);
        color: inherit !important;
        background-color: var(--cl-elements);
    }

    & ul {
        background-color: var(--cl-elements);

        & .dropdown-item {
            color: var(--cl-text) !important;

            &:hover {
                color: black !important;
            }
        }
    }
}

/* end styling the top bar */
/* start stlying the cards */
.flag-card .container {
    cursor: pointer;
    overflow: hidden;
    padding: 0 !important;
    box-shadow: 0 0 11px 1px var(--cl-shadow);

    & img {
        /* height: clamp(10rem,40vw,15rem); */
        aspect-ratio: 1.8/1;
        width: 100%;
        object-fit: cover;
        box-shadow: 0 0 11px 1px var(--cl-shadow);
    }

    & h2 {
        padding: 10px 0;
    }

    & .text div {
        font-weight: bold;
        padding: 5px 0;
    }

    & .text span {
        font-weight: normal;
    }
}

/* end stlying the cards */
/* end styling the main info */
/* start styling the more info */
.more-info {
    background-color: var(--cl-bg) !important;

    & img {
        box-shadow: 0 0 11px 1px var(--cl-shadow);
        padding: 0 !important;
        height: 100%;

        @media(max-width : 992px) {
            max-width: 35em;
        }
    }
}

.back {
    background-color: var(--cl-elements) !important;
    box-shadow: 0 0 11px 1px var(--cl-shadow);
    color: inherit !important;
    border: none;
}

.main-content .text {
    font-weight: bold;
    font-size: clamp(1.2em, 1.5vw, 1.9em);

    @media(max-width : 992px) {
        font-size: clamp(1.2em, 3vw, 1.5em);
    }

    & span {
        font-weight: normal;
    }

    & .border-countries span {
        background-color: var(--cl-elements);
        box-shadow: 0 0 11px 1px var(--cl-shadow);
        padding: 5px 10px;
        margin: 5px;
        display: inline-block;
    }
}

/* end styling the more info */